
.navbar{
    background-color: #ebebeb;
    padding: 20px 0px;
}

.navbar-collapse{
    flex-grow: 0;
}

.collapse li{
    transition: all 0.2s ease; 
}

.collapse li:hover{   
    border-bottom: 1px solid #7c00a5;
    
}

.quem-somos{
    background-color: #d1fffbee;
    padding: 50px 0px;
}

.produtos{
    background-color: #f3d1ff;
    padding: 50px 0px;
}

.produtos h3 {
    margin-bottom: 40px;
}

.produtos img{
    border-radius: 50%;
}

.social a:hover{
   animation-name: bottomDiv;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
   animation-timing-function: linear;
}

@keyframes bottomDiv {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}